/*body {
	background-image: url('images/starFoxBackground.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
}*/


img.bg {
	min-height: 100%;
/*	min-width: 1280px;
*/	width: 100%;
	height: auto;
	position: fixed;
	top:0;
	left: 0;
}
div.titleBox {
	color: white;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	text-align: center;
}
button {
	font-size: 15px;
	background-color: transparent;
}

h5 {
	color: white;
}

.ships {
	position: relative;
	display: block;
}
#shipOne {
	top:20px;
	left: 0px;
}
#shipTwo {
	top: 35px;
	left: 0px;
}

#finishLine {
	min-height: 100%;
	height: auto;
	width: 1px;
	position: absolute;
	right:1px;
	top: 0;
	background-color: yellow;
}






